<strong>Hello, {{ provider }}</strong>
<p>Appointment canceled, more details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date and time: </strong> {{ date }} <br />
  <br />
  <small>
    The time is available for new appointment.
  </small>
</p>
